// get mixins and variables
@import "mixins/mixins";
@import "variables";

@font-face {
  font-family: 'Textbook New Web';
  src: local('Textbook New Web');
  src: url("../fonts/TextbookNewWebRegular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Textbook New Web';
  src: local('Textbook New Web');
  src: url("../fonts/TextbookNewWebExtraBold.ttf") format("truetype");

  font-weight: bold;
  font-style: normal;
}

body {
  font-size: $font-size-base;
  font-family: "Textbook New Web";
  font-weight: normal;
  color: $color-font-default;
}

footer {
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.link {
  color: $color-font-link;
  text-decoration: underline;

  &:hover,
  &:active,
  &:visited {
    color: $color-font-link;
    text-decoration: none;
  }
}