// get mixins and variables
@import "mixins/mixins";
@import "variables";

.header {

  &-top {
    padding: 20px 0;

    &-contacts {
      float: right;

      &__top {
        padding: 0 0 2px;
      }

      &__link {
        text-decoration: none;
        border-bottom: 1px dashed $color-font-link;
        margin: 6px 0 0 0;
        color: $color-font-link;

        &:visited,
        &:focus {
          text-decoration: none;
          border-bottom: 1px dashed $color-font-link;
          margin: 6px 0 0 0;
          color: $color-font-link;
        }

        &:hover,
        &:active {
          color: $color-font-link;
          text-decoration: none;
          border: none;
        }
      }

      &__phone {
        font-size: 19px;
        font-weight: bold;
        margin: 0 10px 0 0;
      }
    }

    &-personal {
      text-align: right;

      &-auth {
        margin: 0 0 10px;

        &__link {
          padding: 0 20px 0 0;
          position: relative;
          @include link-style-invert($color-font-default);

          &:before {
            content: '';
            position: absolute;
            top: 5px;
            right: 0;
            background-image: url( $directory-image-base + 'corner-down.png' );
            @include background-image-style();
            width: 14px;
            height: 8px;
          }
        }
      }

      &-basket {

        &__link {
          font-weight: bold;
          position: relative;
          padding: 0 0 0 40px;
          @include link-style-invert($color-font-default);

          &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            background-image: url( $directory-image-base + 'basket.png' );
            @include background-image-style();
            width: 27px;
            height: 25px;
          }
        }

        &__count {
          margin: 0 0 0 10px;
          padding: 6px 10px;
          border: 1px solid $color-font-default;
          font-weight: bold;
          @include link-style-invert($color-font-default);
          @include border-radius(15px);
        }
      }
    }
  }

  &-feedback {
    width: 270px;
    max-width: 100%;
    padding: 0 10px;
  }
}
