// get mixins and variables
@import "mixins/mixins";
@import "variables";

.price {
  margin: 0 0 30px;

  &-calc {
    border: $calc-border-width solid $color-border-first;
    font-size: 15px;
    margin: 0 0 20px;

    &__block {
      padding-left: 10%;
      padding-right: 10%;
      margin: 30px 0 40px;
    }

    &-block {
      position: relative;
      padding-bottom: 6px;
      padding-left: 10%;
      padding-right: 10%;
      margin: 30px 0 0;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -15px;
        right: -15px;
        height: 6px;
        background-image: url("#{$directory-image-base}detail-calc-delimiter.png");
        background-position: center;
        background-size: contain;
        background-repeat: repeat-x;
      }
    }

    &-prod {
      padding: 30px 0 15px;

      &__img {
        margin: 0 auto 10px;
      }

      &__name {
        font-weight: bold;
      }
    }

    &__left {
      border-right: $calc-border-width solid $color-border-first;

      @media screen {

        @media (max-width: 767px) {
          border-right: none;
          border-bottom: $calc-border-width solid $color-border-first;
        }
      }
    }

    &__right {
      padding-left: 3%;
      padding-right: 3%;
    }

    &-field {
       margin: 0 0 30px;
       position: relative;

      &-title {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 20px;
      }

      &__button {
        padding: 10px 40px;
      }
    }

    &__field {
       margin: 0 0 15px;
       position: relative;

      &.bottom {
        width: 80%;
      }
    }

    &-price {

      &__name {
        float: left;
        font-size: 20px;
        max-width: 75%;
      }

      &__val {
        float: right;
        font-size: 20px;
        max-width: 25%;
        white-space: nowrap;
      }

      &-total {

        &__name {
          float: left;
          font-size: 30px;
          font-weight: bold;
          max-width: 50%;
        }

        &__val {
          float: right;
          font-size: 30px;
          max-width: 50%;
          white-space: nowrap;
        }
      }

      &-sale {

        &__name {
          float: left;
          font-size: 20px;
          max-width: 75%;

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -40px;
            width: 30px;
            height: 30px;
            background-image: url("#{$directory-image-base}price-calc-sale.png");
            @include background-image-style;
          }
        }

        &__val {
          float: right;
          font-size: 20px;
          max-width: 25%;
          white-space: nowrap;
        }
      }
    }

    &__descr {
      color: $color-font-disabled;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}