//
// colors
//

$color-body-bg: #fff;
$color-border-first: #ccc;

$color-first: #e72329;
$color-first-dark: #8f1316;
$color-second: #333333;
$color-third: #f9f9f9;

$color-font-default: #333333;
$color-font-second: $color-body-bg;
$color-font-link: #008cc6;
$color-font-disabled: #999999;

//
// directories
//

$directory-image-base: '../img/';

//
// fonts
//

$font-size-base: 15px;

//
// other
//

$number-list-length: 30;