//
// colors
//

$color-body-bg: #fff;
$color-border-first: #ccc;
$color-popup-bg: #f5f5f5;

$color-first: #e72329;
$color-first-dark: #8f1316;
$color-second: #333333;
$color-third: #f9f9f9;
$color-fourth: #73CE4B;
$color-fourth-dark: #4A9529;

$color-font-default: #333333;
$color-font-second: $color-body-bg;
$color-font-link: #008cc6;
$color-font-disabled: #999999;

$color-card-head: #EFEFEF;
$color-card-border: #D1D1D1;

//
// directories
//

$directory-image-base: '../img/';

//
// fonts
//

$font-size-base: 15px;

//
// other
//

$number-list-length: 30;

/* calc */

$calc-border-width: 6px;
