@font-face {
  font-family: 'Textbook New Web';
  src: local("Textbook New Web");
  src: url("../fonts/TextbookNewWebRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Textbook New Web';
  src: local("Textbook New Web");
  src: url("../fonts/TextbookNewWebExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
body {
  font-size: 14px;
  font-family: "Textbook New Web";
  font-weight: normal;
  color: #333333; }

footer {
  width: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0; }

.text-dashed {
  padding: 10px;
  border: 2px dashed #e72329;
  font-weight: bold; }
.text-red {
  color: #e72329; }
.text-big {
  font-size: 16px;
  font-weight: bold; }

.header-top {
  padding: 20px 0; }
  .header-top-contacts {
    float: right; }
    .header-top-contacts__top {
      padding: 0 0 2px; }
    .header-top-contacts__link {
      text-decoration: none;
      border-bottom: 1px dashed #008cc6;
      margin: 6px 0 0 0; }
      .header-top-contacts__link:hover, .header-top-contacts__link:active {
        text-decoration: none;
        border: none; }
    .header-top-contacts__phone {
      font-size: 19px;
      font-weight: bold;
      margin: 0 10px 0 0; }
  .header-top-personal {
    text-align: right; }
    .header-top-personal-auth {
      margin: 0 0 10px; }
      .header-top-personal-auth__link {
        padding: 0 20px 0 0;
        position: relative;
        color: #333333; }
        .header-top-personal-auth__link:before {
          content: '';
          position: absolute;
          top: 5px;
          right: 0;
          background-image: url("../img/corner-down.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 14px;
          height: 8px; }
    .header-top-personal-basket__link {
      font-weight: bold;
      color: #333333;
      position: relative;
      padding: 0 0 0 40px; }
      .header-top-personal-basket__link:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        background-image: url("../img/basket.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 27px;
        height: 25px; }
    .header-top-personal-basket__count {
      margin: 0 0 0 10px;
      padding: 6px 10px;
      border: 1px solid #333333;
      font-weight: bold;
      color: #333333;
      border-radius: 15px;
      -o-border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px; }

.footer-top {
  background-image: url("../img/footer-top-bg.png");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 6px; }
.footer-body {
  background: #333333;
  color: #fff;
  padding: 20px 0; }
.footer-menu {
  width: 100%;
  margin: 0 0 20px; }
  .footer-menu-list-item {
    float: left;
    margin: 0 20px 0 0; }
    .footer-menu-list-item__link {
      text-decoration: underline;
      outline: none;
      color: #fff; }
      .footer-menu-list-item__link:hover, .footer-menu-list-item__link:active, .footer-menu-list-item__link:visited, .footer-menu-list-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }
.footer-contacts {
  color: #fff; }
  .footer-contacts-field {
    padding: 0 0 0 40px;
    margin: 0 0 15px;
    position: relative;
    font-size: 15px; }
    .footer-contacts-field.time:before {
      background-image: url("../img/time-red.png"); }
    .footer-contacts-field.phone:before {
      background-image: url("../img/phone-red.png"); }
    .footer-contacts-field:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px; }
    .footer-contacts-field__link {
      text-decoration: underline;
      outline: none;
      color: #fff; }
      .footer-contacts-field__link:hover, .footer-contacts-field__link:active, .footer-contacts-field__link:visited, .footer-contacts-field__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }

.left-menu {
  margin: 0 0 20px; }
  .left-menu-top {
    width: 100%;
    position: relative;
    background: #f9f9f9;
    border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    padding: 0 0 28px; }
    .left-menu-top-button {
      background: #e72329;
      border-top-left-radius: 3px;
      -o-border-top-left-radius: 3px;
      -moz-border-top-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      -o-border-top-right-radius: 3px;
      -moz-border-top-right-radius: 3px;
      -webkit-border-top-right-radius: 3px; }
    .left-menu-top__link {
      display: block;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 15px 40px 15px 28px;
      text-decoration: none;
      outline: none;
      color: #fff; }
      .left-menu-top__link:hover, .left-menu-top__link:active, .left-menu-top__link:visited, .left-menu-top__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }
      .left-menu-top__link:before {
        content: '';
        display: block;
        position: absolute;
        width: 18px;
        height: 15px;
        top: 15px;
        right: 14px;
        background-image: url("../img/burger.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
  .left-menu-bottom {
    width: 100%;
    background: #f9f9f9;
    border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
    .left-menu-bottom-list {
      padding: 0 28px 28px;
      list-style: none; }
      .left-menu-bottom-list-item {
        margin: 0 0 5px; }
        .left-menu-bottom-list-item__link {
          color: #333333;
          text-decoration: underline;
          outline: none;
          color: #333333; }
          .left-menu-bottom-list-item__link:hover, .left-menu-bottom-list-item__link:active, .left-menu-bottom-list-item__link:visited, .left-menu-bottom-list-item__link:focus {
            text-decoration: none;
            outline: none;
            color: #333333; }
.left-slider {
  margin: 0 0 20px; }
  .left-slider-top {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 40px 15px 28px;
    border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px; }
  .left-slider-body {
    width: 100%;
    max-height: 225px;
    overflow: hidden; }
  .left-slider-item {
    width: 100%;
    height: 225px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline; }
  .left-slider-bottom {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 40px 15px 28px;
    border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px; }
    .left-slider-bottom__link {
      text-transform: lowercase;
      text-decoration: none;
      outline: none;
      color: #333333;
      position: relative; }
      .left-slider-bottom__link:visited, .left-slider-bottom__link:focus {
        text-decoration: none;
        outline: none;
        color: #333333; }
      .left-slider-bottom__link:hover, .left-slider-bottom__link:active {
        text-decoration: underline;
        outline: none;
        color: #333333; }
      .left-slider-bottom__link:before {
        content: '';
        display: block;
        position: absolute;
        width: 11px;
        height: 16px;
        top: 0;
        right: -16px;
        background-image: url("../img/corner-right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
.left-reviews {
  text-align: center;
  margin: 0 0 30px; }
  .left-reviews-title {
    text-align: left;
    padding: 15px 15px 15px 85px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #fff; }
    .left-reviews-title:before {
      content: '';
      display: block;
      position: absolute;
      width: 55px;
      height: 55px;
      top: 6px;
      left: 15px;
      background-image: url("../img/reviews.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .left-reviews-block {
    width: 100%;
    border: 1px solid #ccc;
    padding: 40px 0 0;
    margin: -33px 0 0;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .left-reviews-block-item {
      margin: 0 0 30px; }
      .left-reviews-block-item__img {
        max-width: 80%;
        margin: 0 auto; }
      .left-reviews-block-item__name {
        text-decoration: none;
        outline: none;
        color: #333333; }
        .left-reviews-block-item__name:visited, .left-reviews-block-item__name:focus {
          text-decoration: none;
          outline: none;
          color: #333333; }
        .left-reviews-block-item__name:hover, .left-reviews-block-item__name:active {
          text-decoration: underline;
          outline: none;
          color: #333333; }
  .left-reviews-bottom {
    width: 100%;
    background: #f9f9f9;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0 0;
    border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
    .left-reviews-bottom__link {
      text-decoration: none;
      outline: none;
      color: #333333;
      position: relative; }
      .left-reviews-bottom__link:visited, .left-reviews-bottom__link:focus {
        text-decoration: none;
        outline: none;
        color: #333333; }
      .left-reviews-bottom__link:hover, .left-reviews-bottom__link:active {
        text-decoration: underline;
        outline: none;
        color: #333333; }
      .left-reviews-bottom__link:before {
        content: '';
        display: block;
        position: absolute;
        width: 11px;
        height: 16px;
        top: 0;
        right: -16px;
        background-image: url("../img/corner-right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }

.main-slider {
  width: 100%;
  margin: 0 0 30px; }
  .main-slider-item {
    height: 280px;
    padding: 45px 0 0 45px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    .main-slider-item__descr {
      margin: 0 0 25px 0; }
    .main-slider-item__link {
      border: 2px solid #e72329;
      padding: 5px 10px;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      text-decoration: none;
      outline: none;
      color: #e72329; }
      .main-slider-item__link:hover, .main-slider-item__link:active, .main-slider-item__link:visited, .main-slider-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #e72329; }
.main-products {
  margin: 0 0 25px; }
  .main-products-tabs {
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f9f9f9;
    display: inline-block;
    margin: 0 0 30px; }
    .main-products-tabs-item {
      padding: 15px 20px;
      display: inline-block; }
      .main-products-tabs-item.active {
        border-radius: 3px;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #e72329;
        position: relative; }
        .main-products-tabs-item.active:before {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          margin: 0 0 0 -11px;
          background-image: url("../img/corner-tab-red.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 22px;
          height: 10px; }
        .main-products-tabs-item.active .main-products-tabs-item__link {
          color: #fff;
          text-decoration: none;
          outline: none;
          color: #fff; }
          .main-products-tabs-item.active .main-products-tabs-item__link:visited, .main-products-tabs-item.active .main-products-tabs-item__link:focus {
            text-decoration: none;
            outline: none;
            color: #fff; }
          .main-products-tabs-item.active .main-products-tabs-item__link:hover, .main-products-tabs-item.active .main-products-tabs-item__link:active {
            text-decoration: underline;
            outline: none;
            color: #fff; }
      .main-products-tabs-item__link {
        color: #333333;
        text-decoration: none;
        text-decoration: underline;
        outline: none;
        color: #333333; }
        .main-products-tabs-item__link:hover, .main-products-tabs-item__link:active, .main-products-tabs-item__link:visited, .main-products-tabs-item__link:focus {
          text-decoration: none;
          outline: none;
          color: #333333; }
  .main-products-items {
    display: none; }
    .main-products-items.active {
      display: block; }
    .main-products-items-cont {
      border-right: 1px solid #ccc; }
      .main-products-items-cont.last {
        border: none; }
    .main-products-items__item {
      border: 1px solid #fff;
      padding: 30px; }
      .main-products-items__item:hover, .main-products-items__item:active {
        border: 1px solid #ccc;
        box-shadow: inset 0 0 100px -33px #ccc;
        border-radius: 3px;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
    .main-products-items__img {
      margin: 0 auto 20px;
      max-height: 110px; }
    .main-products-items__link {
      text-decoration: underline;
      outline: none;
      color: #008cc6; }
      .main-products-items__link:hover, .main-products-items__link:active, .main-products-items__link:visited, .main-products-items__link:focus {
        text-decoration: none;
        outline: none;
        color: #008cc6; }
.main__title {
  position: relative;
  margin: 0 0 60px; }
  .main__title:before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    background-image: url("../img/delimiter-title.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 134px;
    height: 4px; }
.main-advantages {
  margin: 0 0 30px; }
  .main-advantages-list {
    margin: 0 0 30px; }
    .main-advantages-list__text {
      margin: 30px 0 0; }
.main-form {
  background: #f9f9f9;
  padding: 5px 0 30px;
  margin: 0 0 30px;
  -webkit-box-shadow: 0px 4px 3px -2px #ccc;
  -moz-box-shadow: 0px 4px 3px -2px #ccc;
  box-shadow: 0px 4px 3px -2px #ccc; }
  .main-form-title {
    font-size: 16px;
    position: relative;
    text-transform: uppercase; }
    .main-form-title.feedback {
      padding: 35px 0 0 70px; }
      .main-form-title.feedback:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/main-form-phone.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 58px;
        height: 63px; }
  .main-form-field {
    margin: 18px auto;
    text-align: center;
    width: 100%;
    padding: 0 10%; }
    .main-form-field-text {
      text-align: left;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .main-form-field-button {
      font-weight: bold;
      color: #fff;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background-color: #e72329;
      border-bottom: 2px solid #8f1316;
      border-top: none;
      border-right: none;
      border-left: none;
      outline: none;
      margin: -2px 0 0;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  .main-form__descr {
    text-align: left; }
.main-conditions {
  width: 100%;
  padding: 0 10% 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .main-conditions-title {
    padding: 30px 0 15px;
    font-weight: bold;
    font-size: 20px; }
  .main-conditions-list {
    margin: 0 0 15px;
    padding: 0; }
    .main-conditions-list__item {
      position: relative;
      padding: 0 0 0 32px; }
      .main-conditions-list__item:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/check-red.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 18px;
        height: 16px; }
  .main-conditions__descr {
    margin: 0 0 15px; }
  .main-conditions__link {
    font-weight: bold;
    text-decoration: underline;
    outline: none;
    color: #008cc6; }
    .main-conditions__link:hover, .main-conditions__link:active, .main-conditions__link:visited, .main-conditions__link:focus {
      text-decoration: none;
      outline: none;
      color: #008cc6; }

/*# sourceMappingURL=style.css.map */
