@font-face {
  font-family: 'Textbook New Web';
  src: local("Textbook New Web");
  src: url("../fonts/TextbookNewWebRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Textbook New Web';
  src: local("Textbook New Web");
  src: url("../fonts/TextbookNewWebExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
body {
  font-size: 14px;
  font-family: "Textbook New Web";
  font-weight: normal;
  color: #333333; }

footer {
  width: 100%; }

h5 {
  font-weight: bold;
  font-size: 16px; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 0; }

a {
  color: #008cc6; }
  a:hover, a:active, a:visited, a:focus {
    color: #008cc6; }

img.centered {
  margin: 0 auto; }

.text-dashed {
  padding: 15px 25px;
  border: 3px dashed #e72329; }
.text-red {
  color: #e72329; }
.text-big {
  font-size: 16px;
  font-weight: bold; }
.text-field {
  margin: 0 0 30px; }
  .text-field-bg {
    border: 1px solid #ccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0 30px 30px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .text-field-bg__title {
      margin: 0 0 15px; }
.text-block ul {
  margin: 0 0 15px;
  padding: 0; }
  .text-block ul li {
    position: relative;
    padding: 0 0 5px 28px; }
    .text-block ul li:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      background-image: url("../img/check-red.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 18px;
      height: 16px; }
.text-block ol {
  margin: 0 0 15px;
  padding: 0;
  list-style: none; }
  .text-block ol li:nth-child(1):before {
    content: "1"; }
  .text-block ol li:nth-child(2):before {
    content: "2"; }
  .text-block ol li:nth-child(3):before {
    content: "3"; }
  .text-block ol li:nth-child(4):before {
    content: "4"; }
  .text-block ol li:nth-child(5):before {
    content: "5"; }
  .text-block ol li:nth-child(6):before {
    content: "6"; }
  .text-block ol li:nth-child(7):before {
    content: "7"; }
  .text-block ol li:nth-child(8):before {
    content: "8"; }
  .text-block ol li:nth-child(9):before {
    content: "9"; }
  .text-block ol li:nth-child(10):before {
    content: "10"; }
  .text-block ol li:nth-child(11):before {
    content: "11"; }
  .text-block ol li:nth-child(12):before {
    content: "12"; }
  .text-block ol li:nth-child(13):before {
    content: "13"; }
  .text-block ol li:nth-child(14):before {
    content: "14"; }
  .text-block ol li:nth-child(15):before {
    content: "15"; }
  .text-block ol li:nth-child(16):before {
    content: "16"; }
  .text-block ol li:nth-child(17):before {
    content: "17"; }
  .text-block ol li:nth-child(18):before {
    content: "18"; }
  .text-block ol li:nth-child(19):before {
    content: "19"; }
  .text-block ol li:nth-child(20):before {
    content: "20"; }
  .text-block ol li:nth-child(21):before {
    content: "21"; }
  .text-block ol li:nth-child(22):before {
    content: "22"; }
  .text-block ol li:nth-child(23):before {
    content: "23"; }
  .text-block ol li:nth-child(24):before {
    content: "24"; }
  .text-block ol li:nth-child(25):before {
    content: "25"; }
  .text-block ol li:nth-child(26):before {
    content: "26"; }
  .text-block ol li:nth-child(27):before {
    content: "27"; }
  .text-block ol li:nth-child(28):before {
    content: "28"; }
  .text-block ol li:nth-child(29):before {
    content: "29"; }
  .text-block ol li:nth-child(30):before {
    content: "30"; }
  .text-block ol li {
    position: relative;
    padding: 0 0 5px 28px; }
    .text-block ol li:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      color: #e72329;
      width: 18px;
      height: 16px;
      font-size: 20px;
      font-weight: bold; }

.button {
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  outline: none;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .button-first {
    color: #fff;
    background-color: #e72329;
    border-bottom: 2px solid #8f1316;
    border-top: none;
    border-right: none;
    border-left: none; }
  .button-text {
    text-align: left;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

.form-field__text {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.header-top {
  padding: 20px 0; }
  .header-top-contacts {
    float: right; }
    .header-top-contacts__top {
      padding: 0 0 2px; }
    .header-top-contacts__link {
      text-decoration: none;
      border-bottom: 1px dashed #008cc6;
      margin: 6px 0 0 0; }
      .header-top-contacts__link:hover, .header-top-contacts__link:active {
        text-decoration: none;
        border: none; }
    .header-top-contacts__phone {
      font-size: 19px;
      font-weight: bold;
      margin: 0 10px 0 0; }
  .header-top-personal {
    text-align: right; }
    .header-top-personal-auth {
      margin: 0 0 10px; }
      .header-top-personal-auth__link {
        padding: 0 20px 0 0;
        position: relative;
        color: #333333; }
        .header-top-personal-auth__link:before {
          content: '';
          position: absolute;
          top: 5px;
          right: 0;
          background-image: url("../img/corner-down.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 14px;
          height: 8px; }
    .header-top-personal-basket__link {
      font-weight: bold;
      color: #333333;
      position: relative;
      padding: 0 0 0 40px; }
      .header-top-personal-basket__link:before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        background-image: url("../img/basket.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 27px;
        height: 25px; }
    .header-top-personal-basket__count {
      margin: 0 0 0 10px;
      padding: 6px 10px;
      border: 1px solid #333333;
      font-weight: bold;
      color: #333333;
      border-radius: 15px;
      -o-border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px; }

.footer-top {
  background-image: url("../img/footer-top-bg.png");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 6px; }
.footer-body {
  background: #333333;
  color: #fff;
  padding: 20px 0; }
.footer-menu {
  width: 100%;
  margin: 0 0 20px; }
  .footer-menu-list-item {
    float: left;
    margin: 0 20px 0 0; }
    .footer-menu-list-item__link {
      text-decoration: underline;
      outline: none;
      color: #fff; }
      .footer-menu-list-item__link:hover, .footer-menu-list-item__link:active, .footer-menu-list-item__link:visited, .footer-menu-list-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }
.footer-contacts {
  color: #fff; }
  .footer-contacts-field {
    padding: 0 0 0 40px;
    margin: 0 0 15px;
    position: relative;
    font-size: 15px; }
    .footer-contacts-field.time:before {
      background-image: url("../img/time-red.png"); }
    .footer-contacts-field.phone:before {
      background-image: url("../img/phone-red.png"); }
    .footer-contacts-field:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px; }
    .footer-contacts-field__link {
      text-decoration: underline;
      outline: none;
      color: #fff; }
      .footer-contacts-field__link:hover, .footer-contacts-field__link:active, .footer-contacts-field__link:visited, .footer-contacts-field__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }

.left-menu {
  margin: 0 0 20px; }
  .left-menu-top {
    width: 100%;
    position: relative;
    background: #f9f9f9;
    border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px; }
    .left-menu-top-button {
      background: #e72329;
      border-top-left-radius: 3px;
      -o-border-top-left-radius: 3px;
      -moz-border-top-left-radius: 3px;
      -webkit-border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      -o-border-top-right-radius: 3px;
      -moz-border-top-right-radius: 3px;
      -webkit-border-top-right-radius: 3px; }
    .left-menu-top__burger {
      position: absolute;
      top: 0;
      right: 0; }
      .left-menu-top__burger .icon-bar {
        background: #fff; }
    .left-menu-top__link {
      display: block;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      padding: 15px 40px 15px 28px;
      text-decoration: none;
      outline: none;
      color: #fff; }
      .left-menu-top__link:hover, .left-menu-top__link:active, .left-menu-top__link:visited, .left-menu-top__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }
  .left-menu-bottom {
    width: 100%;
    background: #f9f9f9;
    border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
    .left-menu-bottom-list {
      padding: 28px;
      list-style: none; }
      .left-menu-bottom-list-item {
        margin: 0 0 5px; }
        .left-menu-bottom-list-item__link {
          color: #333333;
          text-decoration: underline;
          outline: none;
          color: #333333; }
          .left-menu-bottom-list-item__link:hover, .left-menu-bottom-list-item__link:active, .left-menu-bottom-list-item__link:visited, .left-menu-bottom-list-item__link:focus {
            text-decoration: none;
            outline: none;
            color: #333333; }
.left-slider {
  margin: 0 0 20px; }
  .left-slider-top {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 40px 15px 28px;
    border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px; }
  .left-slider-body {
    width: 100%; }
  .left-slider-item {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline; }
  .left-slider-bottom {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 40px 15px 28px;
    border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px; }
    .left-slider-bottom__link {
      text-transform: lowercase;
      text-decoration: none;
      outline: none;
      color: #333333;
      position: relative; }
      .left-slider-bottom__link:visited, .left-slider-bottom__link:focus {
        text-decoration: none;
        outline: none;
        color: #333333; }
      .left-slider-bottom__link:hover, .left-slider-bottom__link:active {
        text-decoration: underline;
        outline: none;
        color: #333333; }
      .left-slider-bottom__link:before {
        content: '';
        display: block;
        position: absolute;
        width: 11px;
        height: 16px;
        top: 0;
        right: -16px;
        background-image: url("../img/corner-right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
.left-reviews {
  text-align: center;
  margin: 0 0 30px; }
  .left-reviews-title {
    text-align: left;
    padding: 15px 15px 15px 85px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #fff; }
    .left-reviews-title:before {
      content: '';
      display: block;
      position: absolute;
      width: 55px;
      height: 55px;
      top: 6px;
      left: 15px;
      background-image: url("../img/reviews.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .left-reviews-block {
    width: 100%;
    border: 1px solid #ccc;
    padding: 40px 0 0;
    margin: -33px 0 0;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .left-reviews-block-item {
      margin-bottom: 30px; }
      .left-reviews-block-item__img {
        max-width: 80%;
        margin: 0 auto; }
      .left-reviews-block-item__name {
        text-decoration: none;
        outline: none;
        color: #333333; }
        .left-reviews-block-item__name:visited, .left-reviews-block-item__name:focus {
          text-decoration: none;
          outline: none;
          color: #333333; }
        .left-reviews-block-item__name:hover, .left-reviews-block-item__name:active {
          text-decoration: underline;
          outline: none;
          color: #333333; }
  .left-reviews-bottom {
    width: 100%;
    background: #f9f9f9;
    text-align: center;
    padding: 10px 0;
    margin: 15px 0 0;
    border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
    .left-reviews-bottom__link {
      text-decoration: none;
      outline: none;
      color: #333333;
      position: relative; }
      .left-reviews-bottom__link:visited, .left-reviews-bottom__link:focus {
        text-decoration: none;
        outline: none;
        color: #333333; }
      .left-reviews-bottom__link:hover, .left-reviews-bottom__link:active {
        text-decoration: underline;
        outline: none;
        color: #333333; }
      .left-reviews-bottom__link:before {
        content: '';
        display: block;
        position: absolute;
        width: 11px;
        height: 16px;
        top: 0;
        right: -16px;
        background-image: url("../img/corner-right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }

.main-nav {
  width: 100%;
  background: #333333;
  margin: 0 0 20px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .main-nav-list-item {
    padding: 15px 17px;
    text-align: center;
    display: inline-block; }
@media screen and (max-width: 1200px) {
  .main-nav-list-item {
    padding: 15px 7px; } }

    .main-nav-list-item__link {
      text-decoration: underline;
      outline: none;
      color: #fff; }
      .main-nav-list-item__link:hover, .main-nav-list-item__link:active, .main-nav-list-item__link:visited, .main-nav-list-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #fff; }
.main-slider {
  width: 100%;
  margin: 0 0 30px; }
  .main-slider-item {
    height: 280px;
    padding: 25px 0 0 45px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .main-slider-item__descr {
      margin: 0 0 25px 0; }
    .main-slider-item__link {
      border: 2px solid #e72329;
      padding: 5px 10px;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      text-decoration: none;
      outline: none;
      color: #e72329; }
      .main-slider-item__link:hover, .main-slider-item__link:active, .main-slider-item__link:visited, .main-slider-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #e72329; }
  .main-slider .owl-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("../img/dot.png");
    margin: 0 10px 0 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    .main-slider .owl-dot:hover, .main-slider .owl-dot:active, .main-slider .owl-dot.active {
      background: url("../img/dot-active.png"); }
    .main-slider .owl-dots {
      position: absolute;
      text-align: center;
      width: 100%;
      margin: -30px 0 0; }
.main-products {
  margin: 0 0 25px; }
  .main-products-tabs {
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f9f9f9;
    display: inline-block;
    margin: 0 0 30px; }
    .main-products-tabs-item {
      display: inline-block; }
      .main-products-tabs-item.active {
        border-radius: 3px;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #e72329;
        position: relative; }
        .main-products-tabs-item.active:before {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          margin: 0 0 0 -11px;
          background-image: url("../img/corner-tab-red.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 22px;
          height: 10px; }
        .main-products-tabs-item.active .main-products-tabs-item__link {
          color: #fff;
          text-decoration: none;
          outline: none;
          color: #fff; }
          .main-products-tabs-item.active .main-products-tabs-item__link:visited, .main-products-tabs-item.active .main-products-tabs-item__link:focus {
            text-decoration: none;
            outline: none;
            color: #fff; }
          .main-products-tabs-item.active .main-products-tabs-item__link:hover, .main-products-tabs-item.active .main-products-tabs-item__link:active {
            text-decoration: underline;
            outline: none;
            color: #fff; }
      .main-products-tabs-item__link {
        display: inline-block;
        padding: 15px 20px;
        color: #333333;
        text-decoration: none;
        text-decoration: underline;
        outline: none;
        color: #333333; }
        .main-products-tabs-item__link:hover, .main-products-tabs-item__link:active, .main-products-tabs-item__link:visited, .main-products-tabs-item__link:focus {
          text-decoration: none;
          outline: none;
          color: #333333; }
  .main-products-items {
    display: none; }
    .main-products-items.active {
      display: block; }
    .main-products-items-cont {
      border-right: 1px solid #ccc; }
@media screen and (max-width: 767px) {
  .main-products-items-cont {
    border: none; } }

      .main-products-items-cont.last {
        border: none; }
    .main-products-items__item {
      border: 1px solid #fff;
      padding: 30px; }
@media screen and (max-width: 767px) {
  .main-products-items__item {
    padding: 10px 0; } }

      .main-products-items__item:hover, .main-products-items__item:active {
        border: 1px solid #ccc;
        box-shadow: inset 0 0 100px -33px #ccc;
        border-radius: 3px;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
    .main-products-items__img {
      margin: 0 auto 20px;
      max-height: 110px; }
@media screen and (max-width: 767px) {
  .main-products-items__img {
    max-height: 100px; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-products-items__img {
    max-height: 78px; } }

    .main-products-items__link {
      text-decoration: underline;
      outline: none;
      color: #008cc6; }
      .main-products-items__link:hover, .main-products-items__link:active, .main-products-items__link:visited, .main-products-items__link:focus {
        text-decoration: none;
        outline: none;
        color: #008cc6; }
.main-advantages {
  margin: 0 0 30px; }
  .main-advantages-list {
    margin: 0 0 30px; }
    .main-advantages-list__text {
      margin: 30px 0 0; }
.main-form {
  background: #f9f9f9;
  padding: 5px 0 30px;
  margin: 0 0 30px;
  -webkit-box-shadow: 0px 4px 3px -2px #ccc;
  -moz-box-shadow: 0px 4px 3px -2px #ccc;
  box-shadow: 0px 4px 3px -2px #ccc; }
  .main-form-title {
    font-size: 16px;
    position: relative;
    text-transform: uppercase; }
    .main-form-title.feedback {
      padding: 35px 0 0 70px; }
      .main-form-title.feedback:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/main-form-phone.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 58px;
        height: 63px; }
  .main-form-field {
    margin: 18px auto;
    text-align: center;
    width: 100%;
    padding: 0 10%; }
    .main-form-field-text {
      text-align: left;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .main-form-field-button {
      width: 100%;
      margin: -2px 0 0; }
  .main-form__descr {
    text-align: left; }
.main-conditions {
  width: 100%;
  padding: 0 10% 30px;
  margin: 0 0 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .main-conditions-title {
    padding: 30px 0 15px;
    font-weight: bold;
    font-size: 20px; }
  .main-conditions-list {
    margin: 0 0 15px;
    padding: 0; }
    .main-conditions-list__item {
      position: relative;
      padding: 0 0 0 32px; }
      .main-conditions-list__item:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/check-red.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 18px;
        height: 16px; }
  .main-conditions__descr {
    margin: 0 0 15px; }
  .main-conditions__link {
    font-weight: bold;
    text-decoration: underline;
    outline: none;
    color: #008cc6; }
    .main-conditions__link:hover, .main-conditions__link:active, .main-conditions__link:visited, .main-conditions__link:focus {
      text-decoration: none;
      outline: none;
      color: #008cc6; }

.navstring {
  margin: -10px 0 50px; }
  .navstring-item {
    padding: 0 20px 0 0;
    float: left;
    color: #999999; }
    .navstring-item__link {
      position: relative;
      text-decoration: underline;
      outline: none;
      color: #333333; }
      .navstring-item__link:hover, .navstring-item__link:active, .navstring-item__link:visited, .navstring-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #333333; }
      .navstring-item__link:before {
        content: '/';
        color: #e72329;
        display: block;
        position: absolute;
        top: 0;
        right: -14px; }

.pages-title-first {
  position: relative;
  margin: 30px 0 0;
  display: inline-block; }
  .pages-title-first__right:before {
    content: '';
    position: absolute;
    top: 15px;
    right: -148px;
    background-image: url("../img/delimiter-title.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 134px;
    height: 4px; }
  .pages-title-first__left:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -148px;
    background-image: url("../img/delimiter-title2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 134px;
    height: 4px; }
  .pages-title-first__text {
    font-size: 25px;
    margin: 0 0 15px; }
    .pages-title-first__text h2 {
      margin: 0; }
.pages-title__descr {
  text-transform: uppercase;
  margin: 0 0 30px;
  letter-spacing: 2px; }
.pages-title__second {
  position: relative;
  margin: 0 0 60px; }
  .pages-title__second:before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    background-image: url("../img/delimiter-title.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 134px;
    height: 4px; }
.pages-advantages {
  margin: 0 0 30px; }
  .pages-advantages-list {
    margin: 0 0 30px; }
    .pages-advantages-list__text {
      margin: 30px 0 0; }
.pages-form {
  background: #f9f9f9;
  padding: 5px 0 30px;
  margin: 0 0 30px;
  -webkit-box-shadow: 0px 4px 3px -2px #ccc;
  -moz-box-shadow: 0px 4px 3px -2px #ccc;
  box-shadow: 0px 4px 3px -2px #ccc; }
  .pages-form-title {
    font-size: 16px;
    position: relative;
    text-transform: uppercase; }
    .pages-form-title.feedback {
      padding: 35px 0 0 70px; }
      .pages-form-title.feedback:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../img/main-form-phone.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 58px;
        height: 63px; }
  .pages-form-field {
    margin: 18px auto;
    text-align: center;
    width: 100%;
    padding: 0 10%; }
    .pages-form-field-text {
      text-align: left;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .pages-form-field-button {
      font-weight: bold;
      color: #fff;
      width: 100%;
      padding: 10px 0;
      text-align: center;
      background-color: #e72329;
      border-bottom: 2px solid #8f1316;
      border-top: none;
      border-right: none;
      border-left: none;
      outline: none;
      margin: -2px 0 0;
      border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  .pages-form__descr {
    text-align: left; }
.pages-conditions {
  width: 100%;
  padding: 0 10% 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .pages-conditions-title {
    padding: 30px 0 15px;
    font-weight: bold;
    font-size: 20px; }
  .pages-conditions-list {
    margin: 0 0 15px;
    padding: 0; }
    .pages-conditions-list__item {
      position: relative;
      padding: 0 0 0 32px; }
      .pages-conditions-list__item:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../img/check-red.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 18px;
        height: 16px; }
  .pages-conditions__descr {
    margin: 0 0 15px; }
  .pages-conditions__link {
    font-weight: bold;
    text-decoration: underline;
    outline: none;
    color: #008cc6; }
    .pages-conditions__link:hover, .pages-conditions__link:active, .pages-conditions__link:visited, .pages-conditions__link:focus {
      text-decoration: none;
      outline: none;
      color: #008cc6; }

.catalog-sections {
  margin: 0 0 30px; }
  .catalog-sections__title {
    text-align: center; }
  .catalog-sections__list {
    margin: 0 0 30px; }
  .catalog-sections-item {
    margin: 0 0 30px; }
    .catalog-sections-item__img {
      margin: 0 0 10px; }
    .catalog-sections-item__link {
      text-decoration: underline;
      outline: none;
      color: #008cc6; }
      .catalog-sections-item__link:hover, .catalog-sections-item__link:active, .catalog-sections-item__link:visited, .catalog-sections-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #008cc6; }
.catalog-section {
  margin: 0 0 30px; }
  .catalog-section__list {
    margin-bottom: 30px; }
  .catalog-section-item {
    width: 100%;
    max-width: 400px;
    margin: 0 10% 30px 0; }
@media screen and (max-width: 767px) {
  .catalog-section-item {
    max-width: 100%; } }

    .catalog-section-item-img_cont {
      width: 33%;
      float: left; }
    .catalog-section-item-text_cont {
      width: 67%;
      float: left; }
    .catalog-section-item__img {
      margin: 0 20px 20px 0; }
    .catalog-section-item__link {
      text-decoration: underline;
      outline: none;
      color: #008cc6; }
      .catalog-section-item__link:hover, .catalog-section-item__link:active, .catalog-section-item__link:visited, .catalog-section-item__link:focus {
        text-decoration: none;
        outline: none;
        color: #008cc6; }
  .catalog-section__descr {
    padding: 0 0 0 100px;
    margin: 0 0 30px;
    position: relative; }
    .catalog-section__descr:before {
      content: '';
      display: block;
      position: absolute;
      width: 61px;
      height: 68px;
      top: 0;
      left: 15px;
      background-image: url("../img/catalog-section-descr.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
.catalog-detail-block-item {
  margin: 0 0 30px; }
.catalog-detail-block-descr {
  margin: 0 0 30px; }
  .catalog-detail-block-descr__item {
    padding: 0 0 0 70px;
    position: relative; }
    .catalog-detail-block-descr__item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
    .catalog-detail-block-descr__item.construction:before {
      background-image: url("../img/detail-construction.png"); }
    .catalog-detail-block-descr__item.coating:before {
      background-image: url("../img/detail-coating.png");
      height: 70px; }
    .catalog-detail-block-descr__item.size:before {
      background-image: url("../img/detail-size.png");
      height: 49px; }
    .catalog-detail-block-descr__item.installation:before {
      background-image: url("../img/detail-installation.png");
      height: 49px; }
.catalog-detail-similar-title {
  text-align: center;
  margin: 0 0 30px; }
.catalog-detail-calc {
  width: 100%;
  border: 6px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px; }
  .catalog-detail-calc-title {
    font-size: 15px;
    font-weight: bold;
    color: #e72329;
    text-transform: uppercase;
    margin: 0 0 20px; }
  .catalog-detail-calc-block {
    position: relative;
    padding-bottom: 6px;
    margin: 0 0 15px; }
    .catalog-detail-calc-block:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      width: 100%;
      background-image: url("../img/detail-calc-delimiter.png");
      background-position: center;
      background-size: contain;
      background-repeat: repeat-x; }
    .catalog-detail-calc-block-bottom {
      font-size: 14px; }
      .catalog-detail-calc-block-bottom__title {
        color: #999999;
        text-transform: uppercase;
        margin: 0 0 20px; }
      .catalog-detail-calc-block-bottom__field {
        padding: 0 0 3px;
        margin: 0 0 15px;
        border-bottom: 1px solid #ccc;
        position: relative; }
      .catalog-detail-calc-block-bottom__name {
        max-width: 55%;
        font-weight: normal;
        float: left; }
      .catalog-detail-calc-block-bottom__val {
        max-width: 45%;
        width: 66px;
        float: right; }
  .catalog-detail-calc-field {
    margin: 0 0 15px;
    position: relative; }
    .catalog-detail-calc-field__name {
      width: 45%;
      font-weight: normal; }
    .catalog-detail-calc-field__val {
      width: 66px; }
    .catalog-detail-calc-field__button {
      width: 100%; }
  .catalog-detail-calc__link {
    text-decoration: none;
    border-bottom: 1px dashed #008cc6; }
    .catalog-detail-calc__link:hover, .catalog-detail-calc__link:active {
      text-decoration: none;
      border: none; }
  .catalog-detail-calc-price__name {
    float: left;
    font-size: 20px;
    font-weight: bold;
    max-width: 50%; }
  .catalog-detail-calc-price__val {
    float: right;
    font-size: 26px;
    max-width: 50%; }
  .catalog-detail-calc-price-sale__name {
    float: left;
    font-size: 16px;
    max-width: 50%; }
  .catalog-detail-calc-price-sale__val {
    float: right;
    font-size: 20px;
    max-width: 50%; }
.catalog-delimiter {
  width: 100%;
  height: 100px;
  margin: -100px 0 30px;
  background-image: url("../img/delimiter-catalog-section.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
